<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>La boite à Gio</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<body>

  <h2>Bienvenue sur la Boite à Gio</h2>



  <a href="{{ url_for('upload') }}">Upload file</a>

  <div class="wrapper">

    {% for item in items %}
    <div>
    <figure>
      <figcaption>{{ item.title }}, par {{ item.user }}</figcaption>

        <audio controls>
          <source src={{ url_for('static', filename = 'audio_files/') }}{{ item.filename }} type="audio/mpeg">


        Your browser does not support the audio element.
        </audio>
    </figure>
    </div>
    {% endfor %}
  </div>






</body>
</html>
