<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>La boite à Gio</title>
</head>



<body>

  <h2>Bienvenue sur la Boite à Gio</h2>



  <a href="{{ url_for('upload') }}">Upload file</a>



{% for item in items %}
<figure>
  <figcaption>{{ item.title }}, par {{ item.user }}</figcaption>

    <audio controls>
      <source src={{ url_for('static', filename = 'audio_files/') }}{{ item.filename }} type="audio/mpeg">


    Your browser does not support the audio element.
    </audio>
    </br>
    <p>Click on play icon to play</p>
</figure>
{% endfor %}





</body>
</html>
